body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(101, 47, 112)
}

h1 {
    font-size: 13rem;
    font-family: 'Montserrat', sans-serif;
}

.letter {
    transition: color 500ms;
}